* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(71, 71, 194);
		text-align: center;
		
}

#chart {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 780px;
	margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
    
}

svg {
    padding: 20px;
    border: 1px solid black;
}
.bar {
    fill: rgb(4, 117, 161);
    transition: fill .01s;
}

.bar:hover {
    fill: white;
	transition: fill 0s
		
}

#tooltip {
    height: 10;
    width: 10;
    background: black;
}

