* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(71, 71, 194);
    text-align: center;
    margin: 15px;
		
}

#chart {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: auto;
	margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
    
}

svg {
    padding: 20px;
    box-shadow: 0px 3px 5px;
    background: #ddd;
    border-radius: 4px;
    
}
.bar {
    fill: rgb(83, 148, 231);
    transition: fill .01s;
    
}

.bar:hover {
    fill: #eee;
	transition: fill 0s
		
}

#tooltip {
    height: 50;
    width: 100;
    opacity: 0;
    border-radius: 5px;
    border: 1px solid black;
    background: navy;
    position: absolute;
    box-shadow: 5px 5px 5px;
}

.tooltiptext {
    padding:5px;
    color: white;
}

