* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}

h1 {
    color:#eee;
    text-align: center;
    margin: 15px;
		
}

body {
    background: #555;
}

#chart {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
	margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
    
}

svg {
    padding: 20px;
    box-shadow: 0px 3px 5px;
    background: #eee;
    border-radius: 4px;
    
}
.bar {
    fill: seagreen;
    transition: fill .1s;
    
}

.bar:hover {
    fill: yellow;
	transition: fill .0s
		
}

#tooltip {
    height: 50;
    width: 100;
    opacity: 0;
    border-radius: 5px;
    border: 1px solid black;
    background: navy;
    position: absolute;
    box-shadow: 5px 5px 5px;
}

.tooltiptext {
    padding:5px;
    color: white;
    text-align: center;
}

